.color-pallet .btn-pallet{
    padding: 0.5rem 1rem;
    width: 130px;
    height: 50px;
    border-radius: 50px;
  }
  
  .btn-1{
    background-image: linear-gradient(90deg, #38383b 0%, #38383b 33%, #f2f2f3 33%, #f2f2f3 67%, #878787 67%, #878787 100%)
  }
  .btn-2{
    background-image: linear-gradient(90deg, #0f5132 0%, #0f5132 33%, #f0f5f3 33%, #f0f5f3 67%, #8c747f 67%, #8c747f 100%)
  }
  .btn-3{
    background-image: linear-gradient(90deg, #6cb14f 0%, #6cb14f 33%, #f1f5f0 33%, #f1f5f0 67%, #114b5f 67%, #114b5f 100%)
  }
  .btn-4{
    background-image: linear-gradient(90deg, #20c997 0%, #20c997 33%, #f0f5f4 33%, #f0f5f4 67%, #426a5a 67%, #426a5a 100%)
  }
  .btn-5{
    background-image: linear-gradient(90deg, #79dfc1 0%, #79dfc1 33%, #f0f5f4 33%, #f0f5f4 67%, #c16b85 67%, #c16b85 100%)
  }
  .btn-6{
    background-image: linear-gradient(90deg, #3dd5f3 0%, #3dd5f3 33%, #f0f4f5 33%, #f0f4f5 67%, #d84f34 67%, #d84f34 100%)
  }
  .btn-7{
    background-image: linear-gradient(90deg, #6ea8fe 0%, #6ea8fe 33%, #f0f2f5 33%, #f0f2f5 67%, #474973 67%, #474973 100%)
  }
  .btn-8{
    background-image: linear-gradient(90deg, #0aa2c0 0%, #0aa2c0 33%, #f0f4f5 33%, #f0f4f5 67%, #cc9489 67%, #cc9489 100%)
  }
  .btn-9{
    background-image: linear-gradient(90deg, #0a58ca 0%, #0a58ca 33%, #f0f2f5 33%, #f0f2f5 67%, #d2b58a 67%, #d2b58a 100%)
  }
  .btn-10{
    background-image: linear-gradient(90deg, #6610f2 0%, #6610f2 33%, #f2f0f5 33%, #f2f0f5 67%, #c97064 67%, #c97064 100%)
  }
  .btn-11{
    background-image: linear-gradient(90deg, #6f42c1 0%, #6f42c1 33%, #f2f0f5 33%, #f2f0f5 67%, #114b5f 67%, #114b5f 100%)
  }
  .btn-12{
    background-image: linear-gradient(90deg, #a370f7 0%, #a370f7 33%, #f2f0f5 33%, #f2f0f5 67%, #504746 67%, #504746 100%)
  }
  .btn-13{
    background-image: linear-gradient(90deg, #e36ff7 0%, #e36ff7 33%, #f4f0f5 33%, #f4f0f5 67%, #233d4d 67%, #233d4d 100%)
  }
  .btn-14{
    background-image: linear-gradient(90deg, #e56b6b 0%, #e56b6b 33%, #f5f0f0 33%, #f5f0f0 67%, #4c5b5c 67%, #4c5b5c 100%)
  }
  .btn-15{
    background-image: linear-gradient(90deg, #8b1e3f 0%, #8b1e3f 33%, #f5f0f2 33%, #f5f0f2 67%, #23395b 67%, #23395b 100%)
  }
  .btn-16{
    background-image: linear-gradient(90deg, #de6528 0%, #de6528 33%, #f5f2f0 33%, #f5f2f0 67%, #a2cde3 67%, #a2cde3 100%)
  }
  .btn-17{
    background-image: linear-gradient(90deg, #e17726 0%, #e17726 33%, #f5f2f0 33%, #f5f2f0 67%, #51344d 67%, #51344d 100%)
  }
  .btn-18{
    background-image: linear-gradient(90deg, #dfa400 0%, #dfa400 33%, #f5f4f0 33%, #f5f4f0 67%, #2b4aa0 67%, #2b4aa0 100%)
  }
  .btn-19{
    background-image: linear-gradient(90deg, #fab803 0%, #fab803 33%, #f5f4f0 33%, #f5f4f0 67%, #1a1423 67%, #1a1423 100%)
  }
  .btn-20{
    background-image: linear-gradient(90deg, #b99253 0%, #b99253 33%, #f5f3f0 33%, #f5f3f0 67%, #495867 67%, #495867 100%)
  }